section {
  padding-top:10px;
  padding-bottom:10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Open Sans Condensed';
  font-weight:300;
}

h2 {
}

p {
  font-family:'Open Sans';
}

a {
  color:#de6400;
}

article {
  margin-top:10px;
  margin-bottom:10px;
}

footer {
  background-color:#1b1d1f;
  color:#f5f3f4;
}

.sitemap {
  list-style:none;
}

.sitemap, li {
  margin-left:-5px;
  font-family:'Open Sans';
  padding-left:8px;
}

